.background {
    top: 0;
    bottom: 0;
    left: -100vw;
    right: 0;
    width: 100%;
    transition: 0.5s ease;
    z-index: 100;
}

.background.show {
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.container {
    background-color: rgb(7, 7, 95);
    color: lightgray;
    top: 0;
    bottom: 0;
    left: -100vw;
    transition: 1s ease;
    z-index: 120;
}

.container.show {
    left: 0;
}

.open {
    left: 10px;
    z-index: 1;
}

.open, .close {
    font-size: 45px;
    line-height: 30px;
}

.item {
    padding: 1em 1em;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    transition: .5s ease;
}

.item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}