.single-member, .double-member {
    border-radius: 5px;
    box-shadow: 0px 0px 2px black;
    transition: ease 0.5s;
}

.double-member>hr {
    min-width: 20px;
    height: 1px;
}

@media (hover: hover) {
    .single-member:hover, .double-member:hover {
        box-shadow: 0px 0px 5px black;
        transform: scale(1.05);
    }
}

.single-member>img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: contain;
}

.single-member>img.M {
    border-radius: 5px;
}

.single-member>img.F {
    border-radius: 50px;
}

.single-member>img.O {
    border-radius: 25px;
}

.single-member>.status {
    top: 1em;
    right: 1em;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    border-width: 2px;
}

.single-member.active {
    border-style: solid;
    border-color: darkgreen;
}

.single-member.expired {
    border-style: dashed;
    border-color: darkred;
}

.info {
    border-radius: 50em;
    border: 1px solid black;
    font-family: monospace;
    top: 10px;
    right: 10px;
    transition: 0.5s ease;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: white;
    font-size: 20px;
}

.info:hover {
    background-color: black;
    color: white;
}